<div class="h-screen flex flex-col items-center justify-start max-w-screen-sm mx-auto bg-gray-200">

  <div class="w-full grid bg-blue-500 grid-cols-3 gap-0">
    <div class="text-center order-1 p-2"></div>
    <div id="recent" class="text-center p-2 text-white order-2 text-opacity-100">Most recent</div>
    <div class="text-center order-3 p-2"></div>
  </div>

  <!-- New div with flex layout -->
  <div class="w-full bg-white py-6 px-2 flex justify-between">
    <span class="text-gray-500">Total Amount</span>
    <span class="font-bold"><% sum_amount = @group.entities.sum(:amount) %>
      <%= number_to_currency(sum_amount, unit: '$', precision: 2) %></span>
  </div>

  <% if @group.entities.any? %>
    <div id="entityContainer" class="min-h-content w-full p-2">
      <% @group.entities.sort_by(&:created_at).reverse.each do |entity| %>
        <% tailwind_colors = %w[red orange yellow green teal blue indigo purple pink] %>
        <div id="entity_<%= entity.id %>" class="entity-item p-2 flex bg-white items-center mb-2">
          <div class="h-[80px] w-[80px] bg-<%= tailwind_colors.sample %>-500"></div>
          <div class="pl-2 h-20 flex flex-col w-[90%] justify-center">
            <div class="flex h-full w-full justify-between">
              <div class="flex h-full items-end">
                <span class="text-gray-500"><%= entity.name %></span>
              </div>
              <div class="flex h-full items-end">
                <span class="text-black font-bold">$<%= entity.amount %></span>
              </div>
            </div>
            <div class="pt-4">
              <span id="entity_<%= entity.id %>_date" class="text-gray-500 text-sm"><%= entity.created_at.to_s %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No entities for this group.</p>
  <% end %>


</div>
<div class="fixed bottom-0 right-0 p-4 w-full">
  <div class="max-w-screen-sm mx-auto pb-20 px-20 flex justify-end">
    <a href="<%= new_entity_path %>">
      <i id="new-entity" class="fixed bi bi-plus-circle-fill z-90 rounded-full drop-shadow-lg flex justify-center items-center bg-white text-green-400 text-6xl hover:drop-shadow-2xl"></i>
    </a>
  </div>
</div>