<nav class="bg-blue-500 p-4 flex items-center justify-between h-12 flex-row max-w-screen-sm mx-auto p-2">
  <!-- Left Arrow Icon -->
  <% if !user_signed_in? %>
    <!-- Back button for logged-in users -->
    <div class="text-white text-2xl">
      <a href="<%= splash_index_path %>" class="text-white text-2xl">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
  <% else %>
    <nav class="relative py-4 flex justify-between items-center">
      <div class="">
        <button class="navbar-burger flex items-center text-white">
          <svg class="block h-6 w-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
    </nav>
    <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-3xl font-bold leading-none" href="#">
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Home</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">About Us</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Services</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Pricing</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Contact</a>
            </li>
            <% if user_signed_in? %>
              <li class="mb-1">
                <%= link_to 'Profile', edit_user_registration_path, class: 'block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded' %>
              </li>
              <li class="mb-1">
                <%= button_to(destroy_user_session_path, method: :delete) do %>
                  <button class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded">Log Out</button>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  <% end %>


  <!-- Centered Header -->
  <h1 class="text-white text-xl"><%= @header_text %></h1>

  <button type="submit" class="text-white text-align-right" id="submitFormButton">
    <%= @button_text %>
  </button>
</nav>
